@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin:0;
    padding: 0;

}

body{
    font-family: "Inter", sans-serif;
}

.slider{
    width:100%;
    min-height:80vh;
    aspect-ratio:16/9;
    background: #000;
    position: relative;

}

.slider-background{
    width:100%;
    height:100%;
    object-fit:cover;
    filter:brightness(30%) ;
    
}

.slider-content {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

h1{
    color:#fff;
    font-size: 3rem;
}

h2{
  font-size: 3rem;  
  margin-bottom: 100px;
}

h4{
    font-size: 2rem;
   margin-bottom: 100px;
} 

h5{
    font-size: 1.5rem;
   margin-bottom: 100px;
} 

h6{
    font-size: 1.5rem;
   margin-bottom: 100px;
} 


.slider-content p{
    color: #fff;
    font-size: 2rem ;
    font-weight: 300;
}

p{
    font-size: 1.5rem;
    line-height: 1.5em;
}

p1{
        font-size: 1.5rem;
        line-height: 1.5em; 
}
.section {
   padding: 100px 0; 
}

.boxed {
    max-width: 1280px ;
    margin-inline: auto;
}

.flex{
    display: flex;
}
.dark{
    background: #000;
    color:#fff;
}

.footer{
    bottom: 0;
    position: relative;
    width: 100%;
}
.w40{
    width: 40%;
}

.w60{
    width: 60%;
}

.text-center{
   text-align: center; 
}

.w17{
    width: 17%;
}

.w32{
    width: 32%;
}

.space-between{
    justify-content: space-between;
}

.gap20{
    gap: 20px;
}

.wrap{
    flex-wrap: wrap;
}

.skill{
    background: #333;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box ;
}

.skill img{
    width: 100px;
    height: 100 px;
    aspect-ratio: 1/1;
    object-fit: contain;

}

.skill h3{
    margin-top: 10px;
}

.projets{
  height: auto;
  aspect-ratio: 1/1;  
  position: relative;
}

.projet1 p{
    
    margin-top: 200px;
    margin-bottom: 2em; /* Espace entre les blocs */

}

.projet2 p{
    
    margin-top: 200px;
    margin-bottom: 2em; /* Espace entre les blocs */
    font-size: 1.5rem;
    line-height: 1.5em;

}


.projet1 p:last-of-type{
    margin-bottom: 0;
}

.projet1 h4{
    position: absolute;
    margin-top: 50px;
    
}

.projet1 h5{
    position: absolute;
    margin-top: 130px;
    
}

.projet1 h6{
    position: absolute;
    margin-top: 100px;
    
}

.projet1 img{
    width: 80%;
    height: auto;
    top: 30%;
    object-fit: cover;
    left: 50%;
    margin: 0 20px 20px 0;
    margin-top:200px;

}

.projet2 img{
    width: 100%;
    height: auto;
    top: 30%;
    object-fit: cover;
    left: 50%;
    margin: 0 20px 20px 0;
    margin-top:100px;

}

.projet2 p{
    margin-left:-300px;

}

.projet1-2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    
    margin-left: -400px;
    margin-top:800px;
}


.projet2-2 img{
    width: 50%;
    height: auto;
    object-fit: cover;
    position: relative;
    
    margin-left: -300px;
    margin-top:500px;
}

.projets h3{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    width: max-content;
  
}

.stags h3{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    width: max-content;
    color: #3881ac;
  
}

.projets a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.projet1-2 a {
    position: absolute;
    top: 140%;
    left:18%;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:  #000; 
}

.projet2-2 a {
    position: absolute;
    top: 100%;
    left:18%;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:  #000; 
}

.CC2V a {
    position: absolute;
    top: 60%;
    left:18%;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:  #000; 

}

.projets img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(40%);
    transition:.4s ease;
}

.stags img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(40%);
    transition:.4s ease;
    object-fit: contain;

}

.CC2V img {
    width: 70%;
    display: relative;
    height: auto;
    left:0;
    top:0;
    bottom: 100px;
}

.projets:hover img{
    filter: brightness(60%);
} 

.icon{
    display: block;
    font-size: 40px;
}

.label{
   display: block; 
   font-weight: 700;
   text-transform: uppercase;
   margin: 10px 0;
   font-size: 1.5rem;
}

.value{
    display: block;
    font-size: 1.2rem;
}

.contact{
    border:2px dashed #FFF;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box ;
}

.aligncenter{
    align-items: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.7) ;

}

.header-logo{
    display: flex;
}

.header-logo img{
    width: 150px;
}

.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
    position: sticky;
}

.header-menu > ul{
    display: flex;
    list-style: none;
}

.header-menu li a{
    text-decoration: none;
    color:#000;
    padding: 10px 20px;
    display: block;
    box-sizing: border-box;
    transition:.2s ease ;

}
.header-menu li a:hover{
    background: #F2F2F2;
}

.header-menu-mobile{
    display:none;
}

.sous-nav{
    list-style: none;
    display: none;
}

.has-sous-nav:hover .sous-nav{
    display: block;
}

@media(max-width: 810px){
    header{
        height: 60px !important;
    }

    .header-menu-mobile{
        display: block;
        border: 0px;
        background-color:#FFF ;
        position: absolute;
        left: 5%;
        top:50%;
        transform: translateY(-50%);
        z-index: 991 ;
    }


    .header-logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
    }

    .header-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #FFF;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        display: none;
    }

    .active{
        display: flex;
    }

    h2{
        font-size: 1.75rem;
        margin-bottom: 30px;
    }

    .slider{
        height: 60vh;
    }

    .slider-content{
        width: 90%;
    }

    .slider-content p {
        margin-top: 20px;
        font-size: 1.5rem;
        text-wrap:balance;
    }

    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1rem ;
        text-wrap: balance;
    }
    .toColumn{
        flex-direction: column;
    }

    .mCenter{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .wm100{
        width: 100% !important;
    }

    .section{
        padding: 50px 0;
    }

    .boxed{
        max-width: 90%;
    }

    .wm45{
        width: 45%;
    }
    
    .mgap20{
        gap: 20px;
    }

}